.container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 225px 450px;
  grid-gap: 1em;
  margin: 0 1em;
}

.studentList {
  /*box-shadow: 0px 2px 2px #888;*/
  border: 1px #ddd solid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 0;
  overflow: hidden;
}

.studentList h2 {
  padding: 0 10px;
}
