.input {
  grid-column-start: 1;
  grid-column-end: 2;
  /*margin-left: auto;*/
  padding: 0 1em;
  border: 1px solid #ddd;
}
.btn {
  padding: 1em;
  background-color: #aaa;
  color: #fff;
  border: none;
  border-radius: 0px 5px 5px 0px;
}

.pin {
  padding: 1em;
  border: none;
  background-color: #eee;
  border-radius: 5px 0 0 5px;
}
