.table {
  width: 100%;
}
/*
.table thead {
  width: 100%;
}*/
.table tbody {
  display: block;
  width: 100%;
  overflow: auto;
  height: 540px;
}

.table thead tr {
  display: block;
}

.table thead tr,
.table tbody tr {
  display: grid;
  grid-template-columns: 30% 44% 13% 13%;
}

.table thead tr {
  padding: 5px 0;
  margin: 0;
  border-bottom: 1px #ddd solid;
}

.table tbody tr {
  border-bottom: 1px #ddd solid;
  padding: 5px 0;
}

.table tbody tr:hover {
  background-color: #eee;
}

.table thead tr th,
.table tbody tr td {
  margin: 0 5px;
}
